<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Création nouveau client</title>
    <!-- Inclusion des éléments du header -->
    <th:block th:replace="~{fragments/header :: head}"></th:block>
</head>
<body>

<!-- Inclusion du header (le contenu du header sans <head>) -->
<th:block th:replace="~{fragments/header :: body}"></th:block>

<!-- Contenu principal de la page -->
<main>
    <h2>Créer un nouveau client</h2>
    <p>Saisissez les informations ci-dessous.</p>

    <fieldset>
        <!-- Contenu du fieldset ici -->
        <form method="post" th:action="@{/client/creation}" th:object="${client}">
            <div>
                <span class="error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                <input th:field="*{nom}" required minlength="3" maxlength="50" type="text" id="nom" placeholder="Nom ?">
            </div>

            <div>
                <span class="error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
                <input th:field="*{prenom}" required minlength="1" maxlength="50" type="text" id="prenom" placeholder="Prénom ?">
            </div>

            <div>
                <span class="error" th:if="${emailErrorMessage}" th:text="${emailErrorMessage}"></span>
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <input th:field="*{email}" required autocomplete="email" type="email" id="email" placeholder="Email ?">
            </div>

            <div>
                <span class="error" th:if="${#fields.hasErrors('noTel')}" th:errors="*{noTel}"></span>
                <input th:field="*{noTel}" maxlength="10" minlength="10" pattern="\d{10}" type="text" id="noTel" placeholder="Téléphone (optionnel) ?">
            </div>

            <div>
                <span class="error" th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"></span>
                <input th:field="*{rue}" required minlength="10" maxlength="50" type="text" id="rue" placeholder="Rue ?">
            </div>

            <div>
                <span class="error" th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
                <input th:field="*{codePostal}" required maxlength="5" minlength="5" pattern="([A-Za-z]{1}[0-9]{4})|([0-9]{5})" type="text" id="codePostal" placeholder="Code postal ?">
            </div>

            <div>
                <span class="error" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
                <input th:field="*{ville}" required minlength="2" maxlength="50" type="text" id="ville" placeholder="Ville ?">
            </div>
            <div id="formActions"><input type="submit" value="Enregistrer"></div>
        </form>
    </fieldset>
    </section>
</main>

<!-- Inclusion du footer -->
<th:block th:replace="~{fragments/footer}"></th:block>

</body>
</html>
