<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Inclusion des éléments du header -->
    <th:block th:replace="fragments/header :: head"></th:block>
</head>
<body>

<!-- Inclusion du header (le contenu du header sans <head>) -->
<th:block th:replace="fragments/header :: body"></th:block>

<!-- Contenu principal de la page -->
<main>
    <h2>Créer un nouveau client</h2>
    <p>Voici le contenu principal de la page d'accueil. Vous pouvez ajouter des informations supplémentaires ici.</p>

    <fieldset>
        <legend>Informations du client</legend>
        <!-- Contenu du fieldset ici -->
        <form method="post" th:action="@{/registration}" th:object="${client}">
            <div id="formContainer">
                <div class="labelContainer">
                    <label for="nom">Nom</label><br />
                    <label for="prenom">Prénom</label>
                </div>
                <div class="inputContainer">
                    <input th:field="*{nom}"  required minlength="3" type="text" id="nom" placeholder="Nom ?"><br />
                    <input th:field="*{prenom}" required minlength="3" type="text" id="prenom" name="prenom" placeholder="Prénom ?">
                    
                </div>
            </div>
            <div id="formActions"><input type="submit" value="Enregistrer"></div>
        </form>
    </fieldset>

</main>

<!-- Inclusion du footer -->
<th:block th:replace="fragments/footer"></th:block>

</body>
</html>
