<!-- header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Header visuel du site -->
<header>
    <div class="header-content">
        <h1>la crypte du jeu</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/client/creation}">Ajouter un client</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
